ion-popover {
  .popover-wrapper {
    .popover-content {
      //   top: 5% !important;
      //   left: 5% !important;
      height: 80vh !important;
      width: 90% !important;
    }
  }
}

ion-title {
  font-weight: bolder;
}
