ion-content {
  ion-title {
    margin-bottom: 2.5rem;
  }
  ion-card {
    ion-card-header {
      display: flex;
      ion-title {
        padding-left: 0;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    textarea {
      padding: 12px;
      border-radius: 10px;
    }
    textarea:focus {
      outline: none;
    }
    ion-button {
      align-self: flex-end;
    }
  }
}
