<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon size="large" name="close" (click)="onClick()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-text>
    <h2>Registro de entrada y salida</h2>
  </ion-text>
  <ion-card class="ion-margin-vertical">
    <ion-card-header>
      <ion-text>
        <h3>Hoy</h3>
      </ion-text>
      <!-- <ion-button color="success">Registrar entrada</ion-button> -->
    </ion-card-header>
    <ion-card-content>
      <p>Entrada: <span>{{visits[visits.length-1].from.hour}}</span></p>
      <p>Salida: <span>{{visits[visits.length-1].to.hour}}</span></p>
      <br />
      <div>
        * Ingresó 30 minutos antes. Autorizado por el Ing. Velasquez.
      </div>
      <!-- <form class="ion-margin-vertical">
        <textarea
          name="comment"
          id="comment"
          cols="40"
          rows="4"
          placeholder="Añadir un comentario"
        ></textarea>
        <ion-button color="light">Enviar</ion-button>
      </form> -->
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let visit of visits">
    <ion-card-header>
      <ion-card-title>{{ visit.from.date }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Entrada: <span>{{ visit.from.hour }}</span> Salida:
      <span>{{ visit.to.hour }}</span>
      <p>* Ingresó con una tardanza de 30 minutos.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
