<ion-content class="ion-padding">
  <section class="ion-padding main-content">
    <div class="ion-padding ion-text-center">
      <div class="app-name">
        <ion-icon name="cube"></ion-icon>
        <span> SCTR</span>
      </div>
      <ion-text color="dark">
        <h5>Regístrate aquí</h5>
      </ion-text>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="loginUser(registerForm.value)">
      <ion-item class="ion-margin-bottom" color="medium">
        <ion-input
          formControlName="fullName"
          placeholder="Ingresa tu nombre"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom" color="medium">
        <ion-input
          formControlName="idCard"
          placeholder="Ingresa tu nº de DNI/CE"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom" color="medium">
        <ion-input
          type="email"
          formControlName="email"
          placeholder="Ingresa tu mail"
        ></ion-input>
      </ion-item>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div
            *ngIf="
              registerForm.get('email').hasError(validation.type) &&
              (registerForm.get('email').dirty ||
                registerForm.get('email').touched)
            "
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item class="ion-margin-bottom" color="medium">
        <ion-input
          type="password"
          formControlName="password"
          placeholder="Ingresa tu contraseña"
        ></ion-input>
      </ion-item>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div
            *ngIf="
              registerForm.get('password').hasError(validation.type) &&
              (registerForm.get('password').dirty ||
                registerForm.get('password').touched)
            "
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-button
        expand="block"
        color="success"
        [disabled]="!registerForm.valid"
        type="submit"
        >REGISTRAR</ion-button
      >
      <div class="ion-text-center ion-padding">
        <ion-text color="medium-dark">
          ¿Ya tienes una cuenta? Ingresa
          <a href="/login"> aquí </a>
        </ion-text>
      </div>
    </form>
  </section>
  <section class="ion-padding ion-text-center bottom-content">
    <ion-text color="light">
      <p>Tu seguro siempre contigo</p>
    </ion-text>
    <ion-img [src]="item - src" alt="Logo"></ion-img>
  </section>
</ion-content>
